<% include partials/header %>

<h1>This is camgrounds page</h1>

<a href="/camgrounds/new">Add New</a>

<% camgrounds.forEach(function(campground){ %>
    <div>
    <h4><%= campground.name%></h4>
    <img src= "<%= campground.imgUrl %>" />
     </div>   
<% }); %>

<% include partials/footer %>