<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Title</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>

      </ul>
    </nav>
  </header><!-- /header -->


  <main>
    <h2>Lists</h2>


  </main>


</body>
</html> 