<% include partials/header %>
  
    <h1>Yelp Camp</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href='/campgrounds'>View campgrounds</li>

      </ul>
    </nav>
 


  


<% include partials/footer %>